<nav mat-tab-nav-bar>
  <a mat-tab-link routerLink="/home" routerLinkActive>Home</a>
  <a mat-tab-link routerLink="/masterData" routerLinkActive>Master Data Management</a>
</nav>
<router-outlet></router-outlet>

<!-- <mat-tab-group class="mat-tab-fill-height">
    <mat-tab label="Home">Content</mat-tab>
    <mat-tab label="Master Data Management">
      <app-master-data>
      </app-master-data>
    </mat-tab>
    <mat-tab label="Bulk Upload Utility">
        <form>
          <div class="form-group">
            <span>Select an excel to upload : <input type="file" class="form-control" (change)="fileChanged($event)"/></span>
          </div>
        </form>
    </mat-tab>
  </mat-tab-group> -->
